# ---- Java / Spring Boot ----
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle-wrapper.jar

#DB
.db

# Logs
*.log


# DB
.db

# IDE ayarları
*.iml
.idea/
.vscode/
*.class

# OS dosyaları
.DS_Store
Thumbs.db

# ---- Node.js / React ----
# Dependencies
node_modules/

# Build output
dist/
build/

# Runtime data
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.cache
*.tmp
